<form>
    <label>Nombre</label>
    <input [(ngModel)]="datosUsuario.nombre" [ngModelOptions]="{standalone:true}" type="text"  placeholder="Enter your name" />
    <br>
    <label>Apellidos</label>
    <input [(ngModel)]="datosUsuario.apellidos" [ngModelOptions]="{standalone:true}" type="text"  placeholder="Enter your surname" />
    <br>
    <label>Dirección</label>
    <input [(ngModel)]="datosUsuario.direccion" [ngModelOptions]="{standalone:true}" type="text"  placeholder="Enter your address" />
    <br>
    <label>Teléfono</label>
    <input [(ngModel)]="datosUsuario.telefono" [ngModelOptions]="{standalone:true}" type="text"  placeholder="Enter your phone number" />
    <br>
    <label>Correo electrónico</label>
    <input [(ngModel)]="datosUsuario.email" [ngModelOptions]="{standalone:true}" type="email"  placeholder="Enter your email" />
    <br>
    <label>Dni</label>
    <input [(ngModel)]="datosUsuario.dni" [ngModelOptions]="{standalone:true}" type="text"  placeholder="Enter your dni" />
    <br>
    <label>Presupuesto</label>
    <input [(ngModel)]="datosUsuario.presupuesto" [ngModelOptions]="{standalone:true}" type="number" min="0"  placeholder="Enter your budget" />
    <br>
    <label>Contraseña</label>
    <input [(ngModel)]="datosUsuario.contrasena" [ngModelOptions]="{standalone:true}" type="password" placeholder="Enter your password" />
    <br>
    <label>Rol</label>
    <select [(ngModel)]="datosUsuario.rol" [ngModelOptions]="{standalone:true}">
        <option value="administrativo">Administrativo</option>
        <option value="profesional">Profesional</option>
        <option value="paciente">Paciente</option>
    </select>
    <br>
    <input type="submit" (click)="editarUsuario()" value="Editar"/>
</form>
