@import '../../styles/mixin.scss';
// @import '~@fullcalendar/common/main.css';
// @import '~@fullcalendar/daygrid/main.css';

#user-private {
    background-color: #f2f2f2;
    // height: 67.8vh;
    // @include flex(center, center, column);

    #div-info-btn {
        @include flex(space-between, center, row);

        padding: 1%;

        #botones {
            @include flex(center, center, row);

            button {
                margin: 1%;
                width: 10vw;
                height: 5vh;
                border-radius: 5px;
                border: 1px solid #0c354a;
                background-color: #0c354a;
                color: white;
                font-size: 1.2em;
                font-weight: bold;
                &:hover {
                    transition: all 0.3s ease;
                    // background-color: #ffa516;
                    color: #ffa516;
                }
            }
        }


    }

    #container-private-user {
        p{
            font-size: 1.2em;
        }

        @include flex(none, none, row);

        div {
            width: 50%;
            padding: 1%;
        }

        #filtrado {
            width: 100%;
            text-align: center;

            input {
                width: 20vw;
                height: 5vh;
                border-radius: 5px;
                border: 1px solid #0c354a;
                padding: 1%;
                margin: 1%;
            }
        }

        #usuarios {

            height: 400px;
            width: 100%;
            overflow-y: auto;

            div {
                @include flex(flex-end, space-between, row);
                align-items: center;

                width: 100%;

                p {
                    width: 100%;
                }

                div {
                    button {
                        margin-left: 1%;
                        padding: 2%;
                        border-radius: 5px;
                        border: 1px solid #0c354a;
                        background-color: #0c354a;
                        color: white;
                        font-size: 1.2em;
                        font-weight: bold;

                        &:hover {
                            transition: all 0.3s ease;
                            color: #ffa516;
                        }
                    }
                }
            }
        }
        #user-cite{
           div{
            width: 100%;
           } 
        }

        #citas{
            div{
                @include flex(flex-end, center, row);
                align-items: end;
                border: 1px solid #ffa516;
                margin: 1%;
                border-radius: 5px;
                p{
                    width: 75%;
                    word-wrap: break-word;
                }
                div{
                    border: none;
                    button{
                        margin: 1%;
                        padding: 2%;
                        border-radius: 5px;
                        border: 1px solid #0c354a;
                        background-color: #0c354a;
                        color: white;
                        font-size: 1.2em;
                        font-weight: bold;
    
                        &:hover {
                            transition: all 0.3s ease;
                            color: #ffa516;
                        }
                    }
                }
            }
        }

        #calendar{
            max-width: 900px;
                margin: 40px auto;
    }


    

    }

    

}