<div class="crear-cita-form">
<div>
    <h2>Crear cita</h2>
<form>
    <label>Paciente</label>
    <select [(ngModel)]="paciente" [ngModelOptions]="{standalone:true}">
        <option *ngFor="let paciente of pacientes" value="{{paciente.dni}}-{{paciente.nombre}} {{paciente.apellidos}}">
            {{paciente.dni}}-{{paciente.nombre}} {{paciente.apellidos}}
        </option>
    </select>
    <br>
    <label>Fecha</label>
    <input [(ngModel)]="fecha" [ngModelOptions]="{standalone:true}" type="date"  placeholder="Enter the date" />
    <label for="horaInicio">Hora :</label>
    <input type="time" [(ngModel)]="horaInicio" [ngModelOptions]="{standalone:true}" name="horaInicio">
    <br>
    <label>Profesional</label>
    <select [(ngModel)]="profesional" [ngModelOptions]="{standalone:true}">
        <option *ngFor="let profesional of profesionales" value="{{profesional.dni}}-{{profesional.nombre}} {{profesional.apellidos}}">
            {{profesional.dni}}-{{profesional.nombre}} {{profesional.apellidos}}
        </option>
    </select>
    <br>
    <label>Precio</label>
    <input [(ngModel)]="precio" [ngModelOptions]="{standalone:true}" type="number" min="0"  placeholder="Enter the price" />
    <br>    
    <br>
    <label>Estado</label>
    <select [(ngModel)]="estado" [ngModelOptions]="{standalone:true}">
        <option value="pendiente">Pendiente</option>
        <option value="pagada">Pagada</option>
        <option value="cancelada">Cancelada</option>
    </select>
    <br>
    <textarea [(ngModel)]="descripcion" [ngModelOptions]="{standalone:true}" type="text"  placeholder="Enter the description"></textarea>
    <br>
    <button (click)="crearCita()">Crear</button>
</form>
</div>
</div>