nav {
    background-color: #0c354a !important;
    padding: 1%;
    font-size: 1.2em;

}

.navbar-text {
    color: white !important;
}


.navbar-text:hover {
    color: #ffa516 !important;
}

#navbarNav {
    justify-content: center;
}