nav {
    background-color: #0c354a !important;
    padding: 1%;
    font-size: 1.2em;

    i{
        font-size: 1.5em;
    }

    img{
        width: 90px;
    }

}

.navbar-text {
    color: white !important;
}


.navbar-text:hover {
    color: #ffa516 !important;
}

#navbarNav {
    justify-content: center;
}

.navbar-toggler{
    border-color: #ffa516 !important;
    color: #ffa516;
    background-color: #f2f2f2 !important;
}
.navbar-toggler:hover{
    border-color: #ffa516 !important;
}