<main>
  <section id="presentacion">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div id="div-niña-pecas">
            <h2>Dental Clinic</h2>
            <h4>Above and beyond customer care</h4>
            <hr>
            <p>When you teach your children how to properly care for their teeth
              and gums, you are maintaining a healthy, beautiful and radiant smile
              throughout their lives.
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <div id="div-mujer">
            <h2>Dedicated to excellence</h2>
            <h4>Dentistry is our profession but people are our focus.</h4>
          </div>
        </div>
        <div class="carousel-item">
          <div id="div-pareja">
            <h2>Get a radiant smile</h2>
            <h4>Creating the healthy smile you wish and deserve</h4>
            <hr>
            <p>We are a friendly team of dentists, hygienists and receptionists who work together to ensure that you
              receive the best treatment that you require at a time that suits you.
            </p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
  <section id="cuadrados-principales">
    <div>
      <img src="../../assets/images/TeaserIcon-Othrodontic.png">
      <h3>RESTORATIVE CARE</h3>
      <p>Dental cleanings, X-rays, fluorides</p>
    </div>
    <div>
      <img src="../../assets/images/TeaserIcon-Periontodology.png">
      <h3>PREVENTATIVE CARE</h3>
      <p>Tooth restoration</p>
    </div>
    <div>
      <img src="../../assets/images/TeaserIcon-Preventative.png">
      <h3>PERIONTODOLOGY</h3>
      <p>Curing diseases and conditionsthat affect teeth structures</p>
    </div>
    <div>
      <img src="../../assets/images/TeaserIcon-Restorative.png">
      <h3>ORTHODONTIC TREATMENT</h3>
      <p>Treatment of improper bitesand crooked teeth</p>
    </div>
  </section>
  <section id="welcome">
    <div id="welcome-father">
      <div id="welcome-son">
        <h2>WELCOME TO OUR DENTICAL CLINIC</h2>
        <h4>We' ve built a long standing relationship based on trust</h4>
        <hr>
      </div>
      <div id="welcome-son">
        <div id="welcome-son1">
          <p>Personalized patient care is what sets Medicus Medical Center apart. When you visit one of our four San
            Francisco campus locations you can expect to receive world class care. Expert physician specialists and
            caring clinical staff provide you with an exceptional health care experience. Personalized patient care is
            what sets Medicus Medical Center apart.</p>
          <h4>MODERN MEDICAL FACILITIES</h4>
          <p>Personalized patient care is what sets Medicus Medical Center apart. When you visit one of our four San
            Francisco campus locations you can expect to receive world class care. Expert physician specialists and
            caring clinical staff provide you with an exceptional health care experience.</p>
        </div>
        <div id="welcome-son2">
          <img
            src="../../assets/images/caucasian-male-dentist-examining-young-woman-patient-s-teeth-at-dental-clinic-scaled.jpg">
        </div>
      </div>

    </div>
  </section>
  <section id="schedule">
    <div class="pico1"></div>
    <section id="location" class="location-section">
      <div class="container">
        <h2 class="section-title">Nuestra Ubicación</h2>
        <div class="map-wrapper">
          <div id="map"><iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d42770.11063649699!2d-3.600010805086417!3d37.178669355233026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd71fce62d32c27d%3A0x9258f79dd3600d72!2sGranada!5e0!3m2!1ses!2ses!4v1685430123555!5m2!1ses!2ses"
              width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe></div>
        </div>
        <div class="address-info">
          <h3>Dirección:</h3>
          <p>123 Calle Principal, Ciudad, País</p>
          <h3>Teléfono:</h3>
          <p>+1 234 567 890</p>
        </div>
      </div>
    </section>
    <div class="pico2"></div>
  </section>

  <section id="dientes-seccion">
    <div id="welcome-father">
      <div id="welcome-son">
        <h2>WELCOME TO OUR DENTICAL CLINIC</h2>
        <h4>We' ve built a long standing relationship based on trust</h4>
        <hr>
      </div>
      <div id="welcome-son">
        <div id="welcome-son1" class="container">
          <img src="../../assets/images/before.jpg" alt="Dientes amarillos" class="teeth yellow">
          <img src="../../assets/images/after.jpg" alt="Dientes blancos" class="teeth white">
          <div class="instruction">Haz click en los dientes para ver el cambio</div>
        </div>
        <div id="welcome-son2">
          <p>Personalized patient care is what sets Medicus Medical Center apart. When you visit one of our four San
            Francisco campus locations you can expect to receive world class care. Expert physician specialists and
            caring clinical staff provide you with an exceptional health care experience. Personalized patient care is
            what sets Medicus Medical Center apart.</p>
          <h4>MODERN MEDICAL FACILITIES</h4>
          <p>Personalized patient care is what sets Medicus Medical Center apart. When you visit one of our four San
            Francisco campus locations you can expect to receive world class care. Expert physician specialists and
            caring clinical staff provide you with an exceptional health care experience.</p>
        </div>
      </div>
    </div>

  </section>
  <section id="coments">
    <div>
      <h2>WHAT OUR PATIENTS SAY</h2>
      <h4>Testimonials from our satisfied patients</h4>
    </div>

    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h3>Comentarios</h3>
          <p>...................................</p>
        </div>
        <div class="carousel-item" data-bs-interval="2000" *ngFor="let comentario of comentarios">
          <h3>{{comentario.nombre}}</h3>
          <p>{{comentario.comentario}}</p>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
  <section id="contact">
    <div>
      <h2>CONTACT US</h2>
      <h4>Get in touch with us today</h4>
      <form>
        <label>Email</label>
        <br>
        <input type="email" name="email" id="email">
        <br>
        <label>Message</label>
        <br>
        <textarea name="message" id="message" cols="50" rows="10"></textarea>
        <br>
        <button type="submit" >Send Message</button>
      </form>
    </div>
  </section>


</main>