@import '../../styles/mixin.scss';
@import '../../styles/variable.scss';

main {
    @include grid(8, repeat(8, min-content), 3);
}

#presentacion {
    grid-row: 1/ 2;
    grid-column: 1 / -1;
    height: 80vh;
    
    #carouselExampleControls {
        height: 100vh;
    }

    .carousel-item {
        height: 80vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &:nth-child(1) {
            background-image: url('../../assets/images/imagen_niña_inicio.jpg');
        }

        &:nth-child(2) {
            background-image: url('../../assets/images/AdobeStock_84031495_large.jpg');
        }

        &:nth-child(3) {
            background-image: url('../../assets/images/Couple_large.jpg');
        }
    }

    #div-niña-pecas{
        width: 30vw;
        height: 30vh;
        color: white;
        margin: 10%;
        font-size: 1.5em;
        hr{
            border: 2px solid #59abb3;
            border-radius: 5px;
            opacity: 1;
        }
    }

    #div-mujer{
        width: 30vw;
        height: 30vh;
        color: white;
        margin: 15%;
        font-size: 5em;
        opacity: 0;
        animation: fadeIn 2s ease-in-out forwards;

          @keyframes fadeIn {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }
    }

    #div-pareja{
        width: 30vw;
        height: 30vh;
        color: #0c354a;
        margin: 10%;
        position: absolute;
        left: 55%;
        font-size: 1.5em;


        hr{
            border: 2px solid #59abb3;
            border-radius: 5px;
            opacity: 1;
        }
    }
    
}

#cuadrados-principales {
    grid-row: 2/ 3;
    grid-column: 1 / -1;
    color: white;
    @include flex(center, center, row);
    width: 100%;
    position: absolute;
    top: 70vh;
    text-align: center;

    div {
        height: 40vh;
        padding: 1%;
        width: 20%;
        padding: auto;

        img {
            width: 40%;
        }
    }

    div:nth-child(odd) {
        background-color: #59abb3;
    }

    div:nth-child(even) {
        background-color: #499aa2;
    }

    div:nth-child(1) {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    div:nth-child(4) {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

}

#welcome {
    grid-row: 3/ 4;
    grid-column: 1 / -1;

    background-color: #dfeef0;
    padding-top: 20%;
    padding-bottom: 5%;
    font-size: 1.2em;

    #welcome-father {
        width: 75vw;
        margin: auto;
        hr{
            border: 2px solid #59abb3;
            border-radius: 5px;
            opacity: 1;
        }

        #welcome-son:nth-child(1) {
            width: 100%;
        }

        #welcome-son:nth-child(2) {
            @include flex(center, normal, row);

            #welcome-son1 {
                width: 70%;
            }

            #welcome-son2 {
                width: 30%;

                img {
                    width: 100%;
                }
            }

        }


    }
}

#schedule {
    grid-row: 4/ 5;
    grid-column: 1 / -1;
    background-color: #dfeef0;
    font-size: 2em;


    .location-section {
        padding: 80px 0;
        text-align: center;
        background-color: #0c354a;
        color: #dfeef0;
      }
      
      .section-title {
        font-size: 32px;
        margin-bottom: 40px;
      }
      
      .map-wrapper {
        margin-bottom: 40px;
      }
      
      #map {
        width: 100%;
        height: 100%;
      }
      
      .address-info {
        max-width: 600px;
        margin: 0 auto;
      }
      
      .address-info h3 {
        font-size: 24px;
        margin-bottom: 20px;
      }
      
      .address-info p {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 10px;
      }

    .pico1 {
        border-left: 49.275vw solid transparent;
        border-right: 49.275vw solid transparent;
        border-bottom: 100px solid #0c354a;
    }

    .pico2 {
        border-left: 49.275vw solid transparent;
        border-right: 49.275vw solid transparent;
        border-top: 100px solid #0c354a;
        background-color: #e5e5e5;
    }
}


#dientes-seccion {
    grid-row: 5/ 6;
    grid-column: 1 / -1;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url('../../assets/images/BackgroundGrey.jpg');


    padding: 5%;

    #welcome-father {
        width: 75vw;
        margin: auto;
        font-size: 1.1em;

        #welcome-son:nth-child(1) {
            margin: 1%;
            width: 100%;
            hr {
                border: 2px solid #59abb3;
                border-radius: 5px;
                opacity: 1;
            }
        }

        #welcome-son:nth-child(2) {
            @include flex(center, normal, row);

            #welcome-son2 {
                width: 70%;
                padding: 1%;
            }

            #welcome-son1 {

                img {
                    width: 100%;
                }
            }

        }


    }

    .container {
        position: relative;
        width: 600px;
        // height: 200px;
        overflow: hidden;
    }

    .teeth {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 0.5s ease;
    }

    .teeth.yellow {
        opacity: 1;
    }

    .teeth.white {
        opacity: 0;
    }


    .container:hover .divider {
        left: 30%;
    }

    .container:hover .teeth.yellow {
        opacity: 0;
    }

    .container:hover .teeth.white {
        opacity: 1;
    }

    .instruction {
        position: absolute;
        font-size: 27px;
        text-align: center;
        opacity: 1;
        transition: opacity 0.5s ease;
    }

    .container:hover .instruction {
        opacity: 0;
    }


}


#coments {
    grid-row: 7/ 8;
    grid-column: 1 / -1;
    font-size: 1.2em;
    text-align: center;
    padding: 3%;

    background-color: #09405e;
    color: white;
    div{
        padding: 1%;
        p{
            word-wrap: break-word;
            width: 87vw;
        }
    }
}

#contact {
    grid-row: 8/ 9;
    grid-column: 1 / -1;
    color: #0c354a;
    font-size: 1.2em;
    // @include flex(center, center, column);
    text-align: center;
    background-image: url('../../assets/images/AdobeStock_61119644_xlarge.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 5%;
    background-attachment: fixed;

    input, textarea{
        width: 25%;
        border: 1px solid #0c354a;
        border-radius: 5px;
    }
    button{
        width: 25%;
        border: 1px solid #0c354a;
        border-radius: 5px;
        background-color: #09405e;
        color: #e5e5e5;
        
    }
    button:hover{
        transition: ease 0.5s all;
        // background-color: #e5e5e5;
        color: #ffa516;
    }

}